{% extends "base.html" %}
{% load static %}

{% block nav_name %}Alltime Wins Combinations{% endblock %}

{% block extra_meta %}
<meta name="description" content="Displaying lottoneros alltime winning predictions from utilising ball combinations">
{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 justify-content-center">
  <h1 class="header-font">AI Lotto Predictions</h1>
  <h1 class="header-font">for EuroMillions</h1>
  <h2 class="header-font">Alltime hits <strong>€ {{ total_winning_amount }} !!!</strong></h2>
    {% if user.is_authenticated %}
        <a href="{% url 'pricing_page' %}" class="btn btn-lg header-button-font rounded-pill text-uppercase mt-3">Subscribe Now!</a>
    {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-lg header-button-font rounded-pill text-uppercase mt-3">Subscribe Now!</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="container">
    <h1 class="text-center my-4">Alltime Winning Combimation Predictions</h1>
    <p class="text-center mb-1">First launched on 4 June 2024</p>
    <p class="text-center mb-1">
        Total alltime hits till date is <strong>€ {{ total_winning_amount }}</strong> !!!
    </p>
    <p class="text-center text-secondary mb-4"><small>Below are some of our latest hits.</small></p>
    <div id="predictions-container">
        <!-- Predictions will be loaded here -->
    <table class="table">
        <thead>
            <tr>
                <th class="text-center align-middle font-weight-bold">ID</th>
                <th class="text-center align-middle font-weight-bold">Draw Date</th>
                <th class="text-center align-middle font-weight-bold">Winning Balls</th>
                <th class="text-center align-middle font-weight-bold">Match Type</th>
                <th class="text-center align-middle font-weight-bold">€</th>
            </tr>
        </thead>
        <tbody>
            {% for prediction_info in alltime_winning_shuffled_predictions %}
            <tr class="table-balls">
                <td class="text-center align-middle">{{ prediction_info.prediction.id }}</td>
                <td class="text-center align-middle">{{ prediction_info.prediction.draw_date }}</td>
                <td class="text-center align-middle">
                    {% for image in prediction_info.pred_ball_images %}
                        <img src="{{ image }}" alt="Ball {{ forloop.counter }}">
                    {% endfor %}
                    {% for image in prediction_info.pred_lucky_images %}
                        <img src="{{ image }}" alt="Lucky Star {{ forloop.counter }}">
                    {% endfor %}
                </td>
                <td class="text-center align-middle">{{ prediction_info.prediction.match_type }}</td>
                <td class="text-center align-middle">{{ prediction_info.prediction.win_amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
