{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 justify-content-center">
    <h1 class="header-font">AI Lotto Predictions</h1>
    <h1 class="header-font">for EuroMillions</h1>
    <a href="#" class="btn btn-lg header-button-font rounded-pill text-uppercase mt-3">Get Predictions</a>
</div>
{% endblock %}

{% block content %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>Alltime Winning Predictions</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Lottonero's Alltime Winning Predictions</h1>
        <p class="text-center">Winning balls appear in green | Winning stars appear in brown</p>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center align-middle font-weight-bold">ID</th>
                    <th class="text-center align-middle font-weight-bold">Draw Date</th>
                    <th class="text-center align-middle font-weight-bold">Winning Balls</th>
                    <th class="text-center align-middle font-weight-bold">Match Type</th>
                    <th class="text-center align-middle font-weight-bold">€</th>
                </tr>
            </thead>
            <tbody>
                {% for prediction_info in alltime_winning_predictions %}
                <tr class="table-balls">
                    <td class="text-center align-middle">{{ prediction_info.prediction.id }}</td>
                    <td class="text-center align-middle">{{ prediction_info.prediction.draw_date }}</td>
                    <td class="text-center align-middle">
                        <img src="{{ prediction_info.pred_ball_1_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_1 }}">
                        <img src="{{ prediction_info.pred_ball_2_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_2 }}">
                        <img src="{{ prediction_info.pred_ball_3_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_3 }}">
                        <img src="{{ prediction_info.pred_ball_4_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_4 }}">
                        <img src="{{ prediction_info.pred_ball_5_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_5 }}">
                        <img src="{{ prediction_info.pred_lucky_1_image }}" alt="Lucky Star {{ prediction_info.prediction.pred_lucky_1 }}">
                        <img src="{{ prediction_info.pred_lucky_2_image }}" alt="Lucky Star {{ prediction_info.prediction.pred_lucky_2 }}">
                    </td>
                    <td class="text-center align-middle">{{ prediction_info.prediction.match_type }}</td>
                    <td class="text-center align-middle">{{ prediction_info.prediction.win_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

{% endblock %}