{% extends "base.html" %}
{% load static %}

{% block nav_name %}Alltime Wins Patterns{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 px-3 justify-content-center">
  <h1 class="header-font">AI Lotto Predictions</h1>
  <h1 class="header-font">for EuroMillions</h1>
  <h2 class="header-font">Alltime hits <strong>€ {{ total_winning_amount }} !!!</strong></h2>
    {% if user.is_authenticated %}
        <a href="{% url 'pricing_page' %}" class="btn btn-lg header-button-font rounded-pill text-uppercase mt-3">Subscribe Now!</a>
    {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-lg header-button-font rounded-pill text-uppercase mt-3">Subscribe Now!</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="container">
    <div class="text-center px-3">
        <h1 class="my-4 futura-subheading text-secondary">Alltime Winning AI Patterns Predictions</h1>
        <p class="mb-1 futura-subheading text-secondary">First launched on 10 May 2024</p>
        <p class="mb-1">
            Total alltime AI Patterns hits till date is <strong>€ {{ total_winning_amount }}</strong> !!!
        </p>
        <p class="text-center text-secondary mb-4">
            <small>Below are just some of our latest hits.</small>
        </p>
    </div>
    <div id="predictions-container">
        <!-- Predictions will be loaded here -->
    <table class="table">
        <thead>
            <tr>
                <th class="text-center align-middle font-weight-bold">ID</th>
                <th class="text-center align-middle font-weight-bold">Draw Date</th>
                <th class="text-center align-middle font-weight-bold">Winning Balls</th>
                <th class="text-center align-middle font-weight-bold">Match Type</th>
                <th class="text-center align-middle font-weight-bold">€</th>
            </tr>
        </thead>
        <tbody>
            {% for prediction_info in alltime_winning_predictions %}
            <tr class="table-balls">
                <td class="text-center align-middle"><div class="rotate-text">{{ prediction_info.prediction.id }}</div></td>
                <td class="text-center align-middle"><div class="rotate-text">{{ prediction_info.prediction.draw_date }}</div></td>
                <td class="text-center align-middle">
                    <img src="{{ prediction_info.pred_ball_1_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_1 }}">
                    <img src="{{ prediction_info.pred_ball_2_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_2 }}">
                    <img src="{{ prediction_info.pred_ball_3_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_3 }}">
                    <img src="{{ prediction_info.pred_ball_4_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_4 }}">
                    <img src="{{ prediction_info.pred_ball_5_image }}" alt="Ball {{ prediction_info.prediction.pred_ball_5 }}">
                    <img src="{{ prediction_info.pred_lucky_1_image }}" alt="Lucky Star {{ prediction_info.prediction.pred_lucky_1 }}">
                    <img src="{{ prediction_info.pred_lucky_2_image }}" alt="Lucky Star {{ prediction_info.prediction.pred_lucky_2 }}">
                </td>
                <td class="text-center align-middle"><div class="rotate-text">{{ prediction_info.prediction.match_type }}</div></td>
                <td class="text-center align-middle"><div class="rotate-text">{{ prediction_info.prediction.win_amount }}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}