{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container pt-5 mt-5">
  <div class="row pt-5 mt-3">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 justify-content-center">
  <h1 class="header-font">AI Lotto Predictions</h1>
  <h1 class="header-font">for EuroMillions</h1>
  <a href="#" class="btn btn-lg header-button-font rounded-pill text-uppercase mt-3">Get Predictions</a>
</div>
{% endblock %}

{% block content %}
{% load custom_filters %}
<div class="masthead-content text-white">
  <h2>EUROMILLIONS RESULTS</h2>
  <h3>for {{ latest_result.draw_date }}</h3>

  <div class="ball-images d-flex flex-wrap justify-content-center">
    <!-- Balls -->
    <img
      src="{{ MEDIA_URL }}{% if latest_result.ball_1 < 10 %}0{{ latest_result.ball_1 }}{% else %}{{ latest_result.ball_1 }}{% endif %}.webp"
      alt="Ball {{ latest_result.ball_1 }}">
    <img
      src="{{ MEDIA_URL }}{% if latest_result.ball_2 < 10 %}0{{ latest_result.ball_2 }}{% else %}{{ latest_result.ball_2 }}{% endif %}.webp"
      alt="Ball {{ latest_result.ball_2 }}">
    <img
      src="{{ MEDIA_URL }}{% if latest_result.ball_3 < 10 %}0{{ latest_result.ball_3 }}{% else %}{{ latest_result.ball_3 }}{% endif %}.webp"
      alt="Ball {{ latest_result.ball_3 }}">
    <img
      src="{{ MEDIA_URL }}{% if latest_result.ball_4 < 10 %}0{{ latest_result.ball_4 }}{% else %}{{ latest_result.ball_4 }}{% endif %}.webp"
      alt="Ball {{ latest_result.ball_4 }}">
    <img
      src="{{ MEDIA_URL }}{% if latest_result.ball_5 < 10 %}0{{ latest_result.ball_5 }}{% else %}{{ latest_result.ball_5 }}{% endif %}.webp"
      alt="Ball {{ latest_result.ball_5 }}">

    <!-- Lucky Stars -->
    <img src="{{ MEDIA_URL }}star{{ latest_result.lucky_star_1 }}.webp"
      alt="Lucky Star {{ latest_result.lucky_star_1 }}">
    <img src="{{ MEDIA_URL }}star{{ latest_result.lucky_star_2 }}.webp"
      alt="Lucky Star {{ latest_result.lucky_star_2 }}">
  </div>
  <p>{{ latest_result.prize_breakdown }}</p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="text-dark">Latest Winning Predictions</h2>
      <!-- Debug statement -->
      <p class="text-dark">Predictions Count: {{ latest_predictions|length }}</p>

      {% if latest_predictions %}
      <table class="table text-dark">
        <thead>
          <tr class="text-center align-middle">
            <th class="font-weight-bold">Draw Date</th>
            <th class="font-weight-bold">Latest Winning Predictions</th>
            <th class="font-weight-bold">Win Type</th>
            <th class="font-weight-bold">€</th>
          </tr>
        </thead>
        <tbody>
          {% for prediction in latest_predictions %}
          <tr class="table-balls">
            <td class="text-center align-middle">{{ prediction.draw_date }}</td>
            <td class="text-center align-middle">
              {% with winning_balls_list=prediction.winning_balls|split_and_strip|map_to_int winning_stars_list=prediction.winning_lucky_stars|split_and_strip|map_to_int %}
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_1|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_1 < 10 %}0{{ prediction.pred_ball_1 }}{% else %}{{ prediction.pred_ball_1 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_1 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_2|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_2 < 10 %}0{{ prediction.pred_ball_2 }}{% else %}{{ prediction.pred_ball_2 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_2 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_3|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_3 < 10 %}0{{ prediction.pred_ball_3 }}{% else %}{{ prediction.pred_ball_3 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_3 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_4|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_4 < 10 %}0{{ prediction.pred_ball_4 }}{% else %}{{ prediction.pred_ball_4 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_4 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_5|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_5 < 10 %}0{{ prediction.pred_ball_5 }}{% else %}{{ prediction.pred_ball_5 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_5 }}">

              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_lucky_1|to_int in winning_stars_list %}brown{% endif %}star{{ prediction.pred_lucky_1 }}.webp"
                alt="Lucky Star {{ prediction.pred_lucky_1 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_lucky_2|to_int in winning_stars_list %}brown{% endif %}star{{ prediction.pred_lucky_2 }}.webp"
                alt="Lucky Star {{ prediction.pred_lucky_2 }}">
              {% endwith %}
            </td>
            <td class="text-center align-middle">{{ prediction.match_type }}</td>
            <td class="text-center align-middle">{{ prediction.win_amount }}</td>
          </tr>
          {% endfor %}
          {% else %}
            <p>No winning predictions for the above draw.</p>
          {% endif %}
          <tr class="table-balls">
            <td class="text-center align-middle"></td>
            <td class="text-center align-middle font-weight-bold"></td>
            <td class="text-center align-middle"></td>
            <td class="text-center align-middle"></td>
          </tr>
          <tr class="table-balls">
            <td class="text-center align-middle"></td>
            <td class="text-center align-middle font-weight-bold">Alltime Winning Predictions</td>
            <td class="text-center align-middle"></td>
            <td class="text-center align-middle"></td>
          </tr>

          {% for prediction in alltime_winning_predictions %}
          <tr class="table-balls">
            <td class="text-center align-middle">{{ prediction.draw_date }}</td>
            <td class="text-center align-middle">
              {% with winning_balls_list=prediction.winning_balls|split_and_strip|map_to_int winning_stars_list=prediction.winning_lucky_stars|split_and_strip|map_to_int %}
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_1|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_1 < 10 %}0{{ prediction.pred_ball_1 }}{% else %}{{ prediction.pred_ball_1 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_1 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_2|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_2 < 10 %}0{{ prediction.pred_ball_2 }}{% else %}{{ prediction.pred_ball_2 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_2 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_3|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_3 < 10 %}0{{ prediction.pred_ball_3 }}{% else %}{{ prediction.pred_ball_3 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_3 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_4|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_4 < 10 %}0{{ prediction.pred_ball_4 }}{% else %}{{ prediction.pred_ball_4 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_4 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_ball_5|to_int in winning_balls_list %}green{% endif %}{% if prediction.pred_ball_5 < 10 %}0{{ prediction.pred_ball_5 }}{% else %}{{ prediction.pred_ball_5 }}{% endif %}.webp"
                alt="Ball {{ prediction.pred_ball_5 }}">

              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_lucky_1|to_int in winning_stars_list %}brown{% endif %}star{{ prediction.pred_lucky_1 }}.webp"
                alt="Lucky Star {{ prediction.pred_lucky_1 }}">
              <img
                src="{{ MEDIA_URL }}{% if prediction.pred_lucky_2|to_int in winning_stars_list %}brown{% endif %}star{{ prediction.pred_lucky_2 }}.webp"
                alt="Lucky Star {{ prediction.pred_lucky_2 }}">
              {% endwith %}
            </td>
            <td class="text-center align-middle">{{ prediction.match_type }}</td>
            <td class="text-center align-middle">{{ prediction.win_amount }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="text-dark">Latest Winning Predictions</h2>
      <!-- Debug statement -->
      <p class="text-dark">Predictions Count: {{ latest_predictions|length }}</p>

      {% if latest_predictions %}
      <table class="table text-dark">
        <thead>
          <tr class="text-center align-middle">
            <th>Draw Date</th>
            <th>Winning Predictions</th>
            <th>Win Type</th>
            <th>€</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
      {% else %}
      <p>No predictions available for the latest date with non-null match type.</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      {% if user.is_authenticated %}
      <h4>
        <a href="{% url 'predictions' %}" class="predict-button btn rounded-pill text-uppercase"
          style="padding: 10px 30px;">Next Draw Predictions</a>
      </h4>
      {% else %}
      <h4>
        <a href="{% url 'account_login' %}" class="predict-button btn rounded-pill text-uppercase"
          style="padding: 10px 30px;">Next Draw Predictions</a>
      </h4>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}