{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<style>
    .backdrop {
        background-color: rgba(139, 139, 139, 0.6);
        padding: 2rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: relative;
    }
</style>

    <div>
        <div class="row">
            <div class="col-md-5 offset-md-1 col-sm-12 mt-5 backdrop">
                <h2 class="logo-font text-white">
                    EuroMillions Results
                </h2>
                <h2 class="text-white">for {{ latest_result.draw_date }}</h2>
                <h3 class="text-white">
                    {{ latest_result.ball_1 }} {{ latest_result.ball_2 }}
                    {{ latest_result.ball_3 }} {{ latest_result.ball_4 }}
                    {{ latest_result.ball_5 }} {{ latest_result.lucky_star_1 }}
                    {{ latest_result.lucky_star_2 }}
                </h3>
                <h2 class="text-white">
                    {{latest_result.jackpot}}
                </h2>
                <p class="text-white">
                    {{latest_result.prize_breakdown}}
                </p>
                {% if user.is_authenticated %}
                    <h4>
                        <a href="{% url 'predictions' %}" class="predict-button btn rounded-pill text-uppercase" style="padding: 10px 30px;">Reveal AI Predictions</a>
                    </h4>
                {% else %}
                    <h4>
                        <a href="{% url 'account_login' %}" class="predict-button btn rounded-pill text-uppercase" style="padding: 10px 30px;">Reveal AI Predictions</a>
                    </h4>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}