{% extends 'base.html' %}
{% load static %}

{% block nav_name %}About{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3 no-gutters">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 justify-content-center">
    <h1 class="header-font">AI Lotto Statistics</h1>
    <h1 class="header-font">for EuroMillions</h1>
</div>
{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 p-4 text-center custom-bottom-offset">
            <h4> Welcome to LottoNero.com - Where Luck Meets Strategy</h4>
            <p>
                At LottoNero, we believe that behind every lottery ticket there's not just hope, but also a pattern
                waiting to be discovered. Founded with the vision of transforming how lottery games are played,
                <span class="font-weight-bold" style="font-size: 1.1em;">LottoNero.com</span> combines AI and advanced
                statistical analysis with the thrill of the game, creating a unique platform for lottery enthusiasts
                around the globe.
            </p>
            <p>
                LottoNero isn't just a tool; it's a community for those who see the lottery as a blend of fun and
                intellectual challenge. We provide detailed <span class="font-weight-bold" style="font-size: 1.1em;">
                    statistical analysis, trend insights, and predictive outcomes</span>based on comprehensive
                <span class="font-weight-bold" style="font-size: 1.1em;">data modeling</span>. Each feature of
                our platform is designed to enhance your understanding of the game's intricacies, empowering
                you to make more informed decisions.
            </p>
            <p>
                <h5>What We Offer</h5>
                <strong>Custom Predictive Models</strong>: Utilise models tailored to specific lotteries that 
                leverage historical data to forecast likely outcomes. <strong>Detailed Frequency Charts</strong>: 
                Understand the patterns with our dynamic frequency tools that highlight the numbers that are hot 
                and those overdue a win. <strong>Correlation Heatmaps</strong>: Dive deeper into how numbers 
                relate to each other over the course of lottery history to refine your strategy. 
                <strong>Interactive Forums</strong>: Join discussions with fellow lottery enthusiasts to exchange 
                strategies, predictions, and experiences.
            </p>
        </div>
    </div>
</div>
{% endblock %}