{% extends 'base.html' %}
{% load static %}

{% block nav_name %}About{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3 no-gutters">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="container">
    <div class="row justify-content-center no-gutters">
        <div class="col-10">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0 text-dark">
                    <h1 class="pt-5 font-weight-bold">About Us!</h1>
                    <div class="pt-3 pb-5 px-5">
                        <h2 class="text-secondary font-weight-bold"> Welcome to LottoNero - where luck meets strategy</h2>
                        <br>
                        <p>
                            At LottoNero, we believe that behind every lottery ticket there's not just hope,
                            but also a pattern
                            waiting to be discovered. Founded with the vision of transforming how lottery
                            games are played,
                            <span class="custom-text">LottoNero.com</span>
                            combines AI and advanced
                            statistical analysis with the thrill of the game, creating a unique platform for
                            lottery enthusiasts
                            around the globe.
                        </p>
                        <p class="pb-3">
                            LottoNero isn't just a tool; it's a community for those who see the lottery as a
                            blend of fun and
                            intellectual challenge. We provide detailed <span class="custom-text"> 
                            statistical analysis, trend insights, and predictive outcomes</span> based
                            on comprehensive <span class="custom-text">data modeling</span>.
                            Each feature of our platform is designed to enhance your understanding 
                            of the game's intricacies, empowering you to make more informed decisions.
                        </p>
                        <hr>
                        <h3 class="pt-3 text-secondary font-weight-bold">What We Offer</h3>
                        <p>
                        <span class="custom-text">AI Predictive Models</span> customised to analise the 
                        EuroMillions lottery by leveraging historical data and forecasting likely numbers.
                        <span class="custom-text">Dynamic Frequency Charts</span> that lists number rankings  
                        from previous EuroMillions jackpot history giving you an idea of the highest winning 
                        numbers and which numbers may be overdue for a win. 
                        <span class="custom-text">Correlation and Combination Heatmaps</span> displaying how 
                        numbers relate to each other over the course of the EuroMillions jackpot history, 
                        helping you refine your playing strategies.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}