{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Change Password</h2>

<form method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password"><br>

    <button type="submit">Change Password</button>
</form>

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
