{% extends "account/base.html" %}
{% load static %}

{% block header_content %}
<div class="container forms-font">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row mb-4">
                        <div class="col-lg-2 d-none d-lg-block"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">User Profile</h1>
                                </div>

                                {% if messages %}
                                <div class="alert alert-success" role="alert">
                                    {% for message in messages %}
                                    {{ message }}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <form method="post" action="{% url 'update_profile' %}">
                                    {% csrf_token %}
                                    
                                    <div class="form-group text-left">
                                        <label for="username">Username:</label>
                                        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
                                    </div>
                                    
                                    <div class="form-group text-left">
                                        <label for="first_name">First Name:</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
                                    </div>

                                    <div class="form-group text-left">
                                        <label for="last_name">Last Name:</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
                                    </div>

                                    <div class="form-group text-left">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email" value="{{ email.email }}" readonly>
                                    </div>

                                    <button type="submit" class="btn btn-dark btn-block">Update Profile</button>
                                </form>
                                <div class="text-center mt-3">
                                    <a href="{% url 'change_password' %}" class="btn btn-link">Change Password</a>
                                </div>

                                <hr>

                                <div class="text-center">
                                    <h4 class="h5 text-gray-900 mb-4">Your Purchases</h4>
                                </div>
                                {% if subscriptions %}
                                <ul class="list-group">
                                    {% for subscription in subscriptions %}
                                    <li class="list-group-item">
                                        <strong>ID:</strong> {{ subscription.id }}<br>
                                        <strong>Subscription:</strong> {{ subscription.subscription_type.name }}<br>
                                        <strong>Price:</strong> {{ subscription.subscribe_price }}<br>
                                        <strong>Start Date:</strong> {{ subscription.created }}<br>
                                        <strong>End Date:</strong> {{ subscription.subscribe_end_date }}<br>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p class="text-center">You have no purchases.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
