{% extends "account/base.html" %}
{% load static %}

{% block header_content %}
<div class="container forms-font">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row mb-4">
                        <div class="col-lg-2 d-none d-lg-block"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-dark mb-4">User Profile</h1>
                                </div>
                                <form method="post" action="{% url 'user_profile:update_profile' %}">
                                    {% csrf_token %}

                                    <div class="form-group text-left">
                                        <label for="first_name">First Name:</label>
                                        <input type="text" class="form-control" id="first_name" name="first_name"
                                            value="{{ user.first_name }}">
                                    </div>

                                    <div class="form-group text-left">
                                        <label for="last_name">Last Name:</label>
                                        <input type="text" class="form-control" id="last_name" name="last_name"
                                            value="{{ user.last_name }}">
                                    </div>

                                    <div class="form-group text-left">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                            value="{{ email.email }}" readonly>
                                    </div>

                                    <button type="submit" class="btn btn-dark btn-block">Update Profile</button>
                                </form>
                                <div class="text-center mt-3">
                                    <a href="{% url 'user_profile:change_password' %}" class="btn btn-link">Change Password</a>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <h4 class="h5 text-dark mb-4">Subscriptions</h4>
                                </div>
                                {% if subscriptions %}
                                <table class="table text-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="font-weight-bold">Subscription</th>
                                            <th scope="col" class="font-weight-bold">Created</th>
                                            <th scope="col" class="font-weight-bold">Cancelled</th>
                                            <th scope="col" class="font-weight-bold">Request</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subscription in subscriptions %}
                                        <tr>
                                            <td class="align-middle text-left">{{ subscription.product_name }}</td>
                                            <td class="align-middle">
                                                {{ subscription.created_on|date:"Y-m-d H:i" }}
                                            </td>
                                            <td class="align-middle">
                                                {{ subscription.cancelled_on|date:"Y-m-d H:i" }}
                                            </td>
                                            <td class="align-middle">
                                                {% if subscription.active %}
                                                <form method="post" action="{% url 'cancel_subscription' subscription.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm btn-block">Cancel</button>
                                                </form>
                                                {% else %}
                                                <span>VOID</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    
                                </table>
                                {% else %}
                                <p class="text-center text-dark">You have no subscriptions.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% endblock %}