/*-------------------------------------- General*/
html {
    height: 100%;
    width: 100%vw;
}

form {
    color: black;
}

/* Hide the labels for email and password fields */
label[for="id_login"],
label[for="id_password"] {
    display: none;
}

.row {
    margin: 0;
}

.container {
    width: 100%;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.table td,
.table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font: 12px Lato;
}

/* Vertical text in tables see media queries*/
.rotate-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    transform: rotate(180deg);
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

.masthead-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    background: rgba(7, 7, 7, 0.7);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto 20px;
    max-width: 70%;  
}

#masthead-bg {
    background: rgba(119, 119, 119, 0.7);
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#card-homepage-bg {
    background-color: transparent;
}

/*------------------------------------ Font Awesome */
.fa-lg {
    line-height: 0;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* ------------------------------Style Allauth forms */
.form-group {
    text-align: left;
}

.form-check {
    text-align: center;
}

.text-muted {
    text-align: center;
    margin-top: 12px;
}

.custom-text {
    font-weight: 800;
    color: rgb(187, 159, 33);
    font-size: 1.2em;
}

/*----------------------------------- Landing Page */
Header 
.header-font,
.central-font {
    font-family: "futura-pt", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.banner-font {
    color: rgb(255, 221, 0);
}

.svg-container {
    padding: 0;
}

.header-button-font {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255, 221, 0);
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.get-predictions-btn {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header-button-font:hover {
    background-color: grey;
    color: white;
}

.how-it-works {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}

.futura-subheading {
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/*----------------------------------- Subscribe banner */
.subscribe-button-font {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-decoration: none;
}

.subscribe-button-font:hover {
    color: rgb(255, 221, 0);
    text-decoration: none;
}

.content-below-bg {
    position: relative;
    background: white;
    padding: 20px;
    z-index: 1;
}

/*-------------------------------------- Ball images*/
.ball-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.ball-images img {
    width: 50px;
    height: auto;
    margin: 5px;
}

.table-balls img {
    width: 30px;
    height: auto;
    margin: 1px;
}

/*----------------------------------- Logo and buttons */
.logo-font {
    text-transform: uppercase;
    font: Helvetica, Arial, sans-serif; ;
}

.main-logo-link {
    width: fit-content;
}

.predict-button {
    background: black;
    color: white;
}

h4.text-center > a.predict-button {
    width: auto;
    display: inline-block;
}

.btn-black {
    background: black;
    color: white;
}

.predict-button:hover,
.predict-button:active,
.predict-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.backdrop {
    background-color: rgba(139, 139, 139, 0.6);
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Resolve overflow issue */
/* Target dropdown by aria-labelledby attribute */
.dropdown-menu[aria-labelledby="user-options"] {
    min-width: 4rem;
    max-width: 5rem;
}

.dropdown-menu[aria-labelledby="user-options"] .dropdown-item {
    padding: .25rem 1rem;
}

.dropdown-menu[aria-labelledby="user-logout-options"] {
    min-width: 4rem;
    max-width: 5rem;
}

.dropdown-menu[aria-labelledby="user-logout-options"] .dropdown-item {
    padding: .25rem 1rem;
}

ul.list-inline {
    margin: 0 !important;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.nav-link {
    display: block;
    padding: .5rem 1.2rem;
}

.row.content {
    height: 450px
}

.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.sidenav-left {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* ------------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/*----------------------------Mailchimp Subscription container */
#mc_embed_signup { 
    clear: left; 
    font: 14px Helvetica, Arial, sans-serif; 
    width: 100%; 
    max-width: 600px;
}

#mc_embed_shell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#mc_embed_signup div#mce-responses {
    padding: 0;
    margin: 0;
}

/* Media query for smaller screens */
@media (max-width: 323px) {
    .masthead-content h2 {
        font-size: 1.5em;
        max-width: 95%;
    }

    .ball-images img {
        width: 30px;
        height: auto;
        margin: 2px;
    }

    .futura-subheading {
        font-family: "futura-pt", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}

@media (max-width: 860px) {
    .masthead-content {
        max-width: 95%;
    }
}

@media (max-width: 640px) {
    .ball-images img {
        width: 40px;
        height: auto;
        margin: 3px;
    }

    .masthead-content {
        max-width: 95%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 767px) {
    .sidenav-left {
        display: none;
    }
}

@media (min-width: 576px) {
    .rotate-text {
        writing-mode: horizontal-tb;
        text-orientation: mixed;
        white-space: normal;
        transform: rotate(0);
    }
}