html {
    height: 100%;
    width: 100%vw;
}

.table td,
.table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font: 12px Lato;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;

}

.masthead-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    background: rgba(7, 7, 7, 0.8);  /* Semi-transparent white background */
    border-radius: 15px;  /* Rounded corners */
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;  /* Adjust the width as needed */
}

/* Style Allauth forms*/
.form-group {
    text-align: left;
}

.form-check {
    text-align: center;
}

.text-muted {
    text-align: center;
    margin-top: 12px;
}

/* Header */
.header-font {
    font-family: "futura-pt", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.forms-font {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(90, 90, 90);
}

.header-button-font {
    font-family: "futura-pt-condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255, 221, 0);
    color: black;
}

.content-below-bg {
    position: relative;
    background: white;
    padding: 20px;
    z-index: 1;
}

.ball-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0; /* Space above and below the images */
}

.ball-images img {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin: 5px; /* Space between images */
}

.table-balls img {
    width: 30px; /* Adjust size as needed */
    height: auto;
    margin: 1px; /* Space between images */
}

.row {
    margin: 0;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

form {
    color: black;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.predict-button {
    background: black;
    color: white;
}

h4.text-center > a.predict-button {
    width: auto;
    display: inline-block;
}

.btn-black {
    background: black;
    color: white;
}

.predict-button:hover,
.predict-button:active,
.predict-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.backdrop {
    background-color: rgba(139, 139, 139, 0.6);
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.sidenav-left {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

.container {
    width: 100%;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* Media query for screens 323px wide or less */
@media (max-width: 323px) {
    .masthead-content h2 {
        font-size: 1.5em; /* Smaller font size for small screens */
    }
}

@media (max-width: 640px) {
    .ball-images img {
        width: 40px; /* Adjust size as needed */
        height: auto;
        margin: 3px; /* Space between images */
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 767px) {
    .sidenav-left {
        display: none;
    }
}




