{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">
            <!-- Header if needed -->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-md-2 sidenav-left">
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>
        <div class="col-md-8 text-left backdrop-table">
            <h2 class="logo-font text-white text-center py-2">
                EuroMillions Results
            </h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped text-white text-center mx-auto">
                    <thead>
                        <tr>
                            <!--<th>Date</th>-->
                            <th>Pred Ball 1</th>
                            <th>Pred Ball 2</th>
                            <th>Pred Ball 3</th>
                            <th>Pred Ball 4</th>
                            <th>Pred Ball 5</th>
                            <th>Pred Lucky 1</th>
                            <th>Pred Lucky 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prediction in predictions %}
                        <tr>
                            <!--<td>{{ prediction.prediction_date }}</td>-->
                            <td>{{ prediction.pred_ball_1 }}</td>
                            <td>{{ prediction.pred_ball_2 }}</td>
                            <td>{{ prediction.pred_ball_3 }}</td>
                            <td>{{ prediction.pred_ball_4 }}</td>
                            <td>{{ prediction.pred_ball_5 }}</td>
                            <td>{{ prediction.pred_lucky_1 }}</td>
                            <td>{{ prediction.pred_lucky_2 }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">No predictions available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}