{% extends "base.html" %}
{% load static %}

{% block nav_name %}Lotto Statistics Correlations{% endblock %}

{% block extra_meta %}
<meta name="description" content="Displaying statistical correlations from the past and latest EuroMillions lotto jackpot history.">
{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3 no-gutters">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 justify-content-center">
    <h1 class="header-font">AI Lotto Statistics</h1>
    <h1 class="header-font">for EuroMillions</h1>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid mt-4">
        <div class="col-12 justify-content-center">
            {% if user.is_authenticated %}
            <div class="row no-gutters mb-3">
                <div class="col-md-6 col-sm-12">
                    <h1>EuroMillions Statistics</h1>
                    <h2 class="text-dark">Correlation Between Main Balls</h2>
                    <p class="text-danger font-weight-bold">This page may not suitable for viewing on mobile devices!</p>
                </div>
                <div class="col-md-6 col-sm-12 px-4">
                    <p class="text-secondary"><strong>Instructions:</strong>
                        <br>
                        Table displaying last 12 month ball correlations.
                        <br>
                        Hover over the table to reveal the correlation coefficient.
                        <br>
                        Number 1 is the strongest coefficient.
                        <br>
                        Use the below modebar to pan / zoom and double click to reset.
                    </p>
                </div>
            </div> 
            <div> 
                {{ graph_correlation|safe }}
            </div>
            {% else %}
                <div>
                    <h2 class="text-dark">Please log in to view the frequency graphs.</h2>
                </div>
            {% endif %}
        </div>

</div>
{% endblock %}

