{% extends "base.html" %}
{% load static %}

{% block nav_name %}Lotto Statistics Frequencies{% endblock %}

{% block extra_meta %}
{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3 no-gutters">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="my-3 pt-5 pb-5 justify-content-center">
    <h1 class="header-font">AI Lotto Statistics</h1>
    <h1 class="header-font">for EuroMillions</h1>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid mt-3">
    <div class="row no-gutters">
        <div class="col-md-3 text-center">
        </div>
        <div class="col-md-6 text-center">
        </div>
        <div class="col-md-3 text-center">
        </div>
    </div>
    <div class="row no-gutters"> 
        <div class="col-12 text-center justify-content-center">
            {% if user.is_authenticated %}
            <div class="row no-gutters">
                <div class="col-md-6 col-sm-12 px-3 text-left">
                    <h2 class="text-dark">Main Balls Frequency</h2>
                    <p class="text-secondary"><strong>Instructions:</strong>
                        <br>
                        Hover over the table to reveal the most frequent winning numbers.
                        <br>
                        Kernel Density Estimation (KDE) curve is added to smooth out the 
                        <br>
                        observed data points to infer properties about the population from  
                        <br>
                        which the numbers were taken.
                        <br>
                        Use the drop down selector to filter data.
                        <br>
                        Use the below modebar to pan / zoom and double click to reset.
                    </p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <form class="form-inline justify-content-center">
                        <label for="timeRangeSelect" class="mr-sm-2"></label>
                        <select id="timeRangeSelect" class="form-control mb-2 mr-sm-2">
                            <option value="3m" {% if selected_time_range == '3m' %}selected{% endif %}>Last 3 Months</option>
                            <option value="6m" {% if selected_time_range == '6m' %}selected{% endif %}>Last 6 Months</option>
                            <option value="12m" {% if selected_time_range == '12m' %}selected{% endif %}>Last 12 Months</option>
                        </select>
                    </form>
                </div>
            </div>                       
            <div class="row no-gutters">
                <div class="col-12">
                    {{ graph_main_balls|safe }}
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <h2 class="text-dark text-center">Lucky Stars Frequency</h2>
                    {{ graph_lucky_stars|safe }}
                </div>
            </div>
            {% else %}
                <div>
                    <h2 class="text-dark">Please log in to view the frequency graphs.</h2>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'js/frequencies_time_range.js' %}"></script>
{% endblock %}