<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="/" aria-haspopup="true">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Predictions
            </a>
            <div class="dropdown-menu border-0">
                {% if has_ai_access or has_premium_access %}
                <a href="{% url 'predictions' %}" class="dropdown-item">AI Patterns</a>
                <a href="{% url 'display_combination_predictions' %}" class="dropdown-item">Combinations</a>
                {% else %}
                <span class="dropdown-item disabled">AI Access Restricted</span>
                {% endif %}
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Statistics
            </a>
            <div class="dropdown-menu border-0">
                {% if has_statistics_access or has_premium_access %}
                <a href="{% url 'frequencies' %}" class="dropdown-item">Frequencies</a>
                <a href="{% url 'correlations' %}" class="dropdown-item">Correlations</a>
                <a href="{% url 'combinations' %}" class="dropdown-item">Combinations</a>
                {% else %}
                <span class="dropdown-item disabled">Statistics Access Restricted</span>
                {% endif %}   
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}">
                About
            </a>
        </li>
        
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}">
                Contact
            </a>
        </li>
        
        {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'backoffice' %}">
                Backoffice
            </a>
        </li>
        {% endif %}
    </ul>
</div>