<style>
    ul.list-inline {
        margin: 0 !important;
    }
</style>

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" aria-haspopup="true">
            Home
        </a>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Predictions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'predictions' %}" class="dropdown-item">Basic Predictions</a>
                <a href="{% url 'display_shuffled_predictions' %}" class="dropdown-item">Super Predictions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Statistics
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'frequencies' %}" class="dropdown-item">Frequencies</a>
                <a href="{% url 'correlations' %}" class="dropdown-item">Correlations</a>
                <a href="{% url 'combinations' %}" class="dropdown-item">Combinations</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#">
                About
            </a>
        </li>
        {% if user.is_authenticated and user.is_staff %}
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'backoffice' %}">
                Backoffice
            </a>
        </li>
        {% endif %}
    </ul>
</div>