<div class="d-flex justify-content-end">
    <ul class="list-inline">
        <li class="list-inline-item dropdown">
            <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                {% endif %}
                <a href="{% url 'profile_view' %}" class="dropdown-item">Profile</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
            
            {% if user.is_authenticated %}
            <li class="list-inline-item d-lg-none">
                <a class="text-black nav-link" href="{% url 'account_logout' %}" id="user-options"
                    aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div><i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-lg"></i></div>
                        <p class="my-0">Logout</p>
                    </div>
                </a>
            </li>
            {% endif %}  
        </li>                 
    </ul>
</div>
