{% extends "base.html" %}
{% load static %}

{% block nav_name %}Subscription Plans{% endblock %}


{% block extra_meta %}
<meta name="description" content="Displaying a variety of subscription plans to join Lottonero's growing community observing EuroMillions lotto jackpot history.">
{% endblock %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3 no-gutters">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block subscribe_now %}
<div class="row text-center no-gutters">
    <div class="col bg-dark text-white">
            <h6 class="logo-font my-2">Subscriptions start from € 2.99 / month </h6>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="masthead-content">
  <h2>Increase odds of winning by over 25%</h2>
  <h3>Our total predicted wins till date are</h3>
  <h1 class="text-warning"> € {{ total_combined_winning_amount|floatformat:"0.00" }}</h1>
  <p>Select from a variety of subscriptions to suit your playing strategy!</p>
</div>
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>EuroMillions Subscription Plans</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<main>
    <div class="row justify-content-center no-gutters mt-4">
        {% if display_ai %}
        <div class="col-md-4 col-sm-6 col-12">
            <stripe-pricing-table
            pricing-table-id="{{ predictions_stripe_pricing_table_id }}"
            publishable-key="{{ stripe_public_key }}"
            client-reference-id="{{ request.user.id }}"
            >
            </stripe-pricing-table>
        </div>
        <!-- Stripe should stay inside this div to work -->
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        {% endif %}
        {% if display_premium %}
        <div class="col-md-4 col-sm-6 col-12">
            <stripe-pricing-table
            pricing-table-id="{{ premium_stripe_pricing_table_id }}"
            publishable-key="{{ stripe_public_key }}"
            client-reference-id="{{ request.user.id }}"
            >
            </stripe-pricing-table>
        </div>
        <!-- Stripe should stay inside this div to work -->
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        {% endif %}
        {% if display_statistics %}
        <div class="col-md-4 col-sm-6 col-12">
            <stripe-pricing-table
            pricing-table-id="{{ statistics_stripe_pricing_table_id }}"
            publishable-key="{{ stripe_public_key }}"
            client-reference-id="{{ request.user.id }}"
            >
            </stripe-pricing-table>
        </div>
        <!-- Stripe should stay inside this div to work -->
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        {% endif %}
    </div>
    {% if not display_ai and not display_statistics %}
        <div class="masthead-content text-white">
            <h2>Subscriptions</h2>
            <div class="d-flex flex-wrap justify-content-center ball-images">
            <h6>If you are not seeing any subscription plans here, 
                this means that you are already subscribed to 
                AI Predictions and Statistics.
            </h6>
            <h6>
                You can review or cancel your subscriptions from your 
                <a href="{% url 'user_profile:profile_view' %}"> Profile</a> page.
            </h6>
            <h6>
                Alternatively, if you are having problems accessing our services, 
                please 
                <a href="{% url 'contact' %}">Contact</a> us.
            </h6>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}
