{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block subscribe_now %}
<div class="row text-center">
    <div class="col bg-dark text-white">
            <h6 class="logo-font my-2">Subscriptions start from € 2.99 / month </h6>
    </div>
</div>
{% endblock %}

{% block header_content %}
<div class="masthead-content">
  <h2>Increase odds of winning by over 25%</h2>
  <h4>Our total wins till date are € 2,599 {{ total_wins_till_date }}</h4>
  <h2>{{ latest_result.jackpot }}</h2>
  <p>Select from a variety a variety of subscriptions to suit your playing needs!</p>
</div>
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>EuroMillions Subscription Plans</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<main>
    
    <div class="row justify-content-center no-gutters mt-4">
        {% if not has_basic %}
        <div class="col-md-4 col-sm-6 col-12">
            <stripe-pricing-table
            pricing-table-id="{{ predictions_stripe_pricing_table_id }}"
            publishable-key="{{ stripe_public_key }}"
            client-reference-id="{{ request.user.id }}"
            >
            </stripe-pricing-table>
        </div>
        <!-- Stripe should stay inside this div to work -->
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        {% endif %}
        {% if not has_premium %}
        <div class="col-md-4 col-sm-6 col-12">
            <stripe-pricing-table
            pricing-table-id="{{ premium_stripe_pricing_table_id }}"
            publishable-key="{{ stripe_public_key }}"
            client-reference-id="{{ request.user.id }}"
            >
            </stripe-pricing-table>
        </div>
        <!-- Stripe should stay inside this div to work -->
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        {% endif %}
        {% if not has_statistics %}
        <div class="col-md-4 col-sm-6 col-12">
            <stripe-pricing-table
            pricing-table-id="{{ statistics_stripe_pricing_table_id }}"
            publishable-key="{{ stripe_public_key }}"
            client-reference-id="{{ request.user.id }}"
            >
            </stripe-pricing-table>
        </div>
        <!-- Stripe should stay inside this div to work -->
        <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
        {% endif %}
    </div>
</main>
{% endblock %}
