{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row mb-4">
                        <div class="col-lg-2 d-none d-lg-block"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Checkout</h1>
                                </div>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <!--{{ form.as_p }}-->
                                        <button type="submit" class="btn btn-success">Submit Order</button>
                                    </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{% url 'account_login' %}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var form = document.getElementById('OrderForm');
        var inputs = form.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value === '') {
                alert('Please fill out all fields.');
                inputs[i].focus();
                return false;
            }
        }
        return true;
    }
</script>
{% endblock %}
