{% extends "account/base.html" %}
{% load static %}

{% block header_content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row mb-4">
                        <div class="col-lg-2 d-none d-lg-block"></div>
                        <div class="col-lg-8">

                            <div class="text-center">
                                <h1 class="h4 text-black mt-4 mb-4">Checkout</h1>
                            </div>
                            <div class="container-fluid">
                                

                                    <form method="post" id="subscription-form">
                                        {% csrf_token %}

                                        <legend class="fieldset-label small text-black px-2 w-auto">
                                        </legend>
                                        {% if not user_info.first_name or not user_info.last_name %}
                                        <table class="table text-dark">
                                            <tr>
                                                <td class="text-left">{{ form.first_name.label_tag }}</td>
                                                <td class="text-left">{{ form.first_name|as_crispy_field }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">{{ form.last_name.label_tag }}</td>
                                                <td class="text-left">{{ form.last_name|as_crispy_field }}
                                                </td>
                                            </tr>
                                        </table>
                                        {% else %}
                                        <table class="table text-dark">
                                            <tr>
                                                <td class="text-left font-weight-bold">First Name:</td>
                                                <td class="text-left">{{ user_info.first_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-weight-bold">Last Name:</td>
                                                <td class="text-left">{{ user_info.last_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-weight-bold">Email:</td>
                                                <td class="text-left">{{ user_info.email }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-weight-bold">Subscription:</td>
                                                <td class="text-left">{{ subscription_name }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-weight-bold">Subscription Option
                                                </td>
                                                <td class="text-left">{{ form.subscription_option }}</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-weight-bold">Total Price:</td>
                                                <td id="total-price-value" class="text-left">{{
                                                    form.total_price.value
                                                    }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <!-- A Stripe card element will go here -->
                                                    <div id="card-element" class="mt-2"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <button type="submit" class="btn btn-dark">Submit
                                                        Order</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <!-- Used to display form errors -->
                                                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                                </td>
                                            </tr>
                                        </table>
                                        {% endif %}
                                        <input type="hidden" id="id_total_price" name="total_price"
                                            value="{{ form.total_price.value }}">
                                    </form>
                               
                            </div>
                            
                            <div class="text-center">
                                <a class="small" href="{% url 'account_login' %}">Already have an account?
                                    Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const subscriptionOptions = document.querySelectorAll('input[name="subscription_option"]');
        const totalPriceField = document.getElementById('id_total_price');
        const totalPriceDisplay = document.getElementById('total-price-value');

        const monthlyPrice = "{{ subscription_type.price }}";
        const annualPrice = (parseFloat(monthlyPrice) * 12 * 0.85).toFixed(2);

        function updateTotalPrice() {
            const selectedOption = document.querySelector('input[name="subscription_option"]:checked');
            if (selectedOption) {
                const price = selectedOption.value === 'monthly' ? monthlyPrice : annualPrice;
                totalPriceField.value = price;
                const suffix = selectedOption.value === 'monthly' ? ' / month' : ' / year';
                totalPriceDisplay.textContent = `€ ${price}${suffix}`;

                // Print the total price to the console for debugging
                console.log(`Total price set to: ${price}`);
            }
        }

        subscriptionOptions.forEach(option => {
            option.addEventListener('change', updateTotalPrice);
        });

        // Initialize the total price on page load
        updateTotalPrice();
    });
</script>
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var stripePublicKey = JSON.parse(document.getElementById('id_stripe_public_key').textContent);
        var clientSecret = JSON.parse(document.getElementById('id_client_secret').textContent);

        var stripe = Stripe(stripePublicKey);
        var elements = stripe.elements();
        var style = {
            base: {
                color: '#000',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#dc3545',
                iconColor: '#dc3545'
            }
        };
        var card = elements.create('card', {
            style: style,
            hidePostalCode: true
        });
        card.mount('#card-element');

        card.addEventListener('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        var form = document.getElementById('subscription-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            

            stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card
                }
            }).then(function (result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    if (result.paymentIntent.status === 'succeeded') {
                        form.submit();
                    }
                }
            });
        });
    });
</script>
{% endblock %}