{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Search Engine Optimisation -->
    <meta name="google-site-verification" content="googlee73ec3c0eced08e7.html"> <!-- Add your site verification here -->
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="https://use.typekit.net/tnq1vnk.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" rel="stylesheet">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/5cf801ac8f.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <!-- Stripe Elements Payment js -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Stripe Subscription Table Payment js -->
    <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
    <!-- SEO Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V3L92FMQF7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-V3L92FMQF7');
    </script>
    <!-- Plotly graphs -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}
    
    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <style>
        .fa-lg {
            line-height: 0;
        }
    </style>
    <title>Lottonero {% block extra_title %}AI Predictions for EuroMillions Lotto{% endblock %}</title>
</head>

<body>
    <div class="container-fluid" style="padding: 0;">
        <div class="row bg-white pt-lg-2 d-none d-lg-flex" style="border-bottom: 1px solid #ccc;">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>lotto</strong>nero</h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    
                    {% if user.is_authenticated %}
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="{% url 'account_logout' %}" id="user-options"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fa-solid fa-person-walking-dashed-line-arrow-right fa-lg"></i></div>
                                <p class="my-0">Logout</p>
                            </div>
                        </a>
                    </li>
                    {% endif %}

                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="dropdown-item">Admin</a>
                            {% endif %}
                            <a href="{% url 'profile_view' %}" class="dropdown-item">Profile</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100" style="padding-right: 0;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
        <!-- Toasts -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% endfor %}
            </div>
        {% endif %}
        <!-- Subscription banner -->
        {% block subscribe_now %}
            <div class="row text-center">
                <div class="col bg-dark">
                    {% if user.is_authenticated %}
                        <a class="subscribe-button-font subscribe-button-font:hover" href="{% url 'pricing_page' %}">
                            <h4 class="my-2 text-uppercase">Subscribe now for free!</h4>
                        </a>
                    {% else %}
                        <a class="subscribe-button-font subscribe-button-font:hover" href="{% url 'account_login' %}?next={% url 'pricing_page' %}">
                            <h4 class="my-2 text-uppercase">Subscribe now for free!</h4>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
        {% block bg %}
        <header class="masthead pt-5 pb-5"
            style="background-image: url('https://res.cloudinary.com/dmebot5lf/image/upload/v1716495659/The_AI_Lotto_Prediction_for_Euro_Millions_vqoh4y.webp')">
            <div class="container">
                
                    {% block header_content %}
                    {% endblock %}
                
            </div>
        </header>
        {% endblock %}
        <div class="content-below-bg">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
              data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://facebook.com/lottonero"
              role="button"
              data-mdb-ripple-color="dark"
              target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- X (formerly Twitter) -->
            <a
            data-mdb-ripple-init
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://x.com/lotto_nero"
            role="button"
            data-mdb-ripple-color="dark"
            target="_blank"
            >
            <i class="fab fa-x-twitter"></i>
            </a>
            <!-- Instagram -->
            <a
              data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://instagram.com/lotto.nero"
              role="button"
              data-mdb-ripple-color="dark"
              target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
            <!-- YouTube -->
            <a
            data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.youtube.com/channel/UCVhrDXIY7739LTt5nX5qPwQ"
            role="button"
            data-mdb-ripple-color="dark"
            target="_blank"
            ><i class="fab fa-youtube"></i
            ></a>
          </section>
        </div>
      
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2024 Copyright 
          <a class="text-dark" href="https://lottonero.com/">lottonero.com</a>
        </div>
      </footer>


</body>

</html>
