{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block nav_name %}Contact Us{% endblock %}

{% block extra_meta %}
{% endblock %}


{% block header_content %}
<!-- Extra styles added here so not to interfere with general styeles -->
<style>
    /* Hide the labels for email and password fields */
    label[for="id_full_name"],
    label[for="id_email"],
    label[for="id_message"] {
        display: none;
    }

    form input, form textarea {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row mb-4">
                        <div class="col-lg-2 d-none d-lg-block"></div>
                        <div class="col-lg-8">
                            <div class="p-5">
                                <div class="text-center text-black">
                                    <h1 class="mb-4">Contact Us</h1>
                                    {% if user %}
                                    <p>Hello {{ user.first_name }} {{ user.last_name }}! You are logged in as</p>
                                    <p class="font-weight-bold text-secondary">{{ user.email }}</p>
                                    <p>Please write your message below and an admin will get in touch with you the soonest possible.</p>
                                    {% endif %}
                                </div>
                                <form id="contact_form" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-dark btn-block">Send Message</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-2 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
