html {
    height: 100%;
    width: 100%vw;
}

body {
    background-color: #000000;
    margin: 0;
    height: 100vh;
    color: #fff;
}

header.masthead {
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}


.col-md-8.text-left.backdrop-table {
    padding-left: 0;
    padding-right: 0;
}

.backdrop-table {
    background-color: rgba(139, 139, 139, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.table td,
.table th {
    padding: 5px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font: 12px Lato;
}

.ball-images img {
    width: 50px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%;
    margin: 5px; /* Optional: Add some space between images */
}

@media (min-width: 576px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 767px) {
    .sidenav-left {
        display: none;
    }
}

.row {
    display: flex;
    margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.predict-button {
    background: black;
    color: white;
}

.btn-black {
    background: black;
    color: white;
}

.predict-button:hover,
.predict-button:active,
.predict-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}