{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container pt-5 mt-5">
    <div class="row pt-5 mt-3">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>EuroMillions Subscription Plans</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<main>
    <div class="subscription-types d-flex flex-wrap justify-content-center">
        {% for subscription in subscription_types %}
        <div class="card m-2" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-title">{{ subscription.name }}</h2>
                <p class="card-text">{{ subscription.description|safe }}</p>
                <p class="card-text">Price: €{{ subscription.price }}</p>
                <a href="#" class="btn btn-primary">Purchase</a>
            </div>
        </div>
        {% endfor %}
    </div>
</main>



{% endblock %}
